/* #sheetsContainer{
    padding: 100px;
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

#sheetsContainer *{
    font-weight: normal;
    word-wrap: break-word;
}


.sheet{
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow: 12px 13px 2px 2px #3D83FF;
    max-width: 300px;
    height: 515px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 285px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.topInfos{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.topInfos>*{
    width: 100%;
}


.names{
    font-size: 1.5em;
    min-height: 72px;
}

.name, .surname{
    font-weight: bolder;
}

.role{
    font-style: italic;
}


/* COLORS FOR ROLES */

.blue{
  color: #759FCC;
}


.orange{
  color: #ED7D31;
}

.green{
  color: #70AD47;
}

.lightBlue{
  color: #00B0F0;
}

.purple{
  color: #BC40C6;
}

.red1{
  color: #D20000;
}

.red2{
  color: #F74F4F;
}

.red3{
  color: #EE8282;
}

/* ---------------- */

/* 
.separator{
    border-radius: 15px;
    background-color: rgb(140, 140, 140);
    height: 2px;
    width: 70%;
}

.bottomInfos{
    width: 70%;
}

.bottomInfos>*{
    width: 100%;
}


.bottomInfos>div>.entete{
    background-color: #6C9BE0;
    color: aliceblue;
    width: fit-content;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;
    position: relative;
    font-size: smaller;
    font-weight: 5;
    top:10px;
    left: 5px;
}

.bottomInfos>div>.infoContent{
    background-color: #D9E5EE;
    padding: 10px;
    border-radius: 15px;
}



.infoIcon{
    position: relative;
}

.contacts>div{
    display: flex;
    gap: 1em;
    align-items: center;
}

.contacts{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.contacts>.email>span{
    width: 76%;
} */


/* QUERIES */

/* @media only screen and (max-width:1000px) {
    #sheetsContainer{
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0%;
        gap: 30px;
        flex-direction: column;
    }
} */

:root {
    --selection-position:0px;
}

#results-container{
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

#person-container{
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#person-details {
    background-color: var(--white-gradient);
    border-radius: 20px;
    width: 40%;
}

.person{
    position: relative;
    z-index: 1;
    cursor: pointer;
    /* background-color: var(--white-gradient); */
    border-radius: 20px;

    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    padding-right: 60px;
    gap: 50px;
    transition: 1s;
    width: 100%;
}

.role{
    min-width: 55%;
}

.names{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 20px;
}


#selection-person{
    position: absolute;
    z-index: -1;
    transition: 0.3s;
    top: 0px;
    width: 110%;
    /* border-style: solid;
    border-color: var(--white-gradient); */
    background-color: var(--white-gradient);

    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
