#status-zone {
  position: relative;
}

#profileMenu {
  display: flex;
  flex-direction: column;

  position: absolute;

  background-color: var(--blue512);
  color: var(--white-text);

  padding: 10px;
  border-radius: 19px;

  left: -280%;
  top: 110%;
  z-index: 2;
}

.hidden {
  display: none !important;
}

.shown {
  display: block;
}

#presentation {
  display: flex;
  align-items: center;

  gap: 29px;
  font-size: 28px;

  border-radius: 19px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  background-color: var(--dark_blue_512);
  padding: 5px;
  padding-left: 19px;
  padding-right: 19px;
}

#informations {
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 2px;

  border-radius: 19px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  background-color: var(--dark_blue_512);
  padding: 11px;
}

#deconnexion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin-top: 4px;
  /* margin-bottom: 4px; */
  background-color: var(--blue512);
  padding: 10px;
  border-radius: 15px;
}
