<div  class="mainContainer">
  <div class="form">
    <h1>Ajout d'un groupe</h1>
    <input [formControl]="form" class="input" type="text" placeholder="Nom du groupe" (keyup.enter)="createGroup()" >
    <div id="bottoms_buttons">
      <button routerLink="/controlPanel/groups" class="clickable">Annuler</button>
      <button (click)="createGroup();" class="clickable">Créer</button>
    </div>
  </div>
  <div id="popupContainer">
    <div id="popupSuccess" class="popup">
      <h3>Succés</h3>
      <p id="popupSuccessContent">Le groupe a été supprimé avec succès.</p>
    </div>
    <div id="popupError" class="popup">
      <h3>Échec</h3>
      <p id="popupErrorContent">Le groupe n'a pas pu être supprimé.</p>
    </div>
  </div>
</div>
