<div class="master">
  <div class="group2-group2">
    <div class="group2-frame35">
      <img
        src="/playground_assets/rectangle16519-5y3cq-600h.png"
        alt="Rectangle16519"
        class="group2-rectangle1"
      />
    </div>
    <div class="group2-frame34">
      <span class="group2-text">
        <span>
          Merci de retaper vos informations d’identification pour confirmer
          l’action.
        </span>
      </span>
    </div>
    <div class="group2-frame33">
      <span class="group2-text2"><span>CONFIRMER L’ACTION ?</span></span>
    </div>
    <div class="group2-frame7">
      <div class="group2-frame6">
        <div class="group2-frame8">
          <input type="text" #emailInput placeholder="Nom d'utilisateur" class="group2-group" style="width: 80%"/>
        </div>
      </div>
      <div class="group2-frame10">
        <div class="group2-frame81">
          <input type="text" placeholder="Mot de passe" #passwordInput class="group2-group" style="width: 80%"/>
        </div>
      </div>
    </div>
    <div class="group2-frame29">
      <div class="group2-frame3" (click)="handleSudoConnexion()">
        <span class="group2-text4"><span>CONFIRMER</span></span>
      </div>
      <div class="group2-frame4" (click)="toggleShowPopup()">
        <span class="group2-text6"><span>ANNULER</span></span>
      </div>
    </div>
  </div>
</div>

