<header>
  <div class="bouton512" routerLink="home">
    <img src="../assets/512_bank_officiel.png" alt="512Bank" />
    <div>512 Bank</div>
  </div>
  <div *ngIf="isAdmin()" id="controlPanel">CONTROL PANEL</div>
  <section id="right-part-header">
    <div class="help clickable">Aide</div>
    <app-profile (click)="hideResults()"></app-profile>
  </section>
</header>
<main>
  <button routerLink="/infos">infos</button>
  <router-outlet></router-outlet>
  <app-result *ngIf="showResults()"></app-result>
</main>
