<div>
  <div class="group5-group5">
    <div class="group5-frame20">
      <div class="group5-frame4" (click)="toggleShowCreatePopup()">
        <span class="group5-text"><span>ANNULER</span></span>
      </div>
      <div class="group5-frame3" (click)="onCreatePressed()">
        <span class="group5-text02"><span>CRÉER</span></span>
      </div>
      <div class="group5-frame22">
        <span class="group5-text04">
          <span>Changement de mot de passe à la prochaine connexion</span>
        </span>
      </div>
      <div class="group5-frame21">
        <span class="group5-text06"><input #name placeholder="Nom" type="text"/>
        </span>
      </div>
      <div class="group5-frame7">
        <span class="group5-text08"> <input #firstname placeholder="Prénom" type="text"/></span>
      </div>
      <div class="group5-frame23">
        <span class="group5-text10"><input #email placeholder="Adresse mail" type="text"/></span>
      </div>
      <div class="group5-frame24">
        <span class="group5-text12"><input #addresse placeholder="Adresse" type="text"/></span>
      </div>
      <div class="group5-frame25">
        <span class="group5-text14"><input #telephone placeholder="Téléphone" type="text"/></span>
      </div>
      <div class="group5-frame71">
        <span class="group5-text16"><input #login placeholder="Login" type="text"/></span>
      </div>
      <span class="group5-text18"><span>CREATION DE COMPTE</span></span>
    </div>
  </div>
</div>
