.mainPage {
  min-height: 600px;
  width: 100%;
  height: 100%;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 5%;
}

.titles {
  background: rgba(255, 255, 255, 0.01);
  border: 3px solid rgba(9, 122, 255, 0.12);
  backdrop-filter: blur(5px);
  /* ! TODO faire attention au support des navigateurs*/
  border-radius: 29px;
  padding: 2em;
  max-width: 790px;
}

.mainTitle {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3em;
  color: white;
}

.searchTitle {
  color: var(--person-blur-512);
  font-size: 1.5em;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.54);
}

.inputs {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 1em;
}

.dropdownChoice {
  position: absolute;
  left: 10px;
  top: 12px;
  display: flex;
  top: 17%;
}
#house {
  z-index: 99;
}
#person {
  z-index: 99;
}

#arrow {
  cursor: pointer;
  margin-top: 5%;
}

.dropdown {
  background-color: var(--person512);
  visibility: hidden;
  position: absolute;
  /* height: 0; */
  /* background-color: #f9f9f9; */
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
  transition: all 0.5s ease;
  padding-top: 100%;
  /* padding-left: 15%;
  padding-right: 15%; */
}

.dropdown svg {
  position: relative;
  z-index: 999;
}

.dropdown.show {
  border-radius: 15px;
  opacity: 1;
  visibility: visible;
  animation: animationIn 0.5s ease forwards;
}

@keyframes animationIn {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.inputs input {
  width: 60%;
  padding-left: 5em;
  width: 32vw;
  height: 7vh;
  background: #f6f6f6;
  box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
}

input:focus {
  outline: none;
}

#search {
  width: 100%;
  padding-left: 120px;
  height: 70px;
}

.inputs button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0 31px;
  gap: 10px;
  background: #ffa21b;
  box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

.absoluteImages {
  pointer-events: none;
}

.absoluteImages img,
.absoluteImages svg {
  position: absolute;
}

#semiFlatPerson {
  width: 35em;
  right: 10%;
  top: 10%;
}

.loupe {
  /* outline: 3px solid red; */
  position: relative;
  width: 25em;
  height: 30em;
  border-radius: 50em;
}

#loupe {
  width: 100%;
  /* height: 100%; */
  right: 0;
  top: 10%;
  z-index: 99;
}

.absoluteImages svg {
  position: absolute;
  top: 13%;
  left: 8%;
  width: 65%;
  height: 60%;
  backdrop-filter: blur(10px);
  border-radius: 50em;
  transition: all 1s ease-out;
}

.loupe:hover svg {
  backdrop-filter: blur(1px);
}

.placementLoupe {
  position: absolute;
  top: 20%;
  right: 10%;
  animation: slowMovement 8s ease-in-out infinite;
}

@keyframes slowMovement {

  /* Make a random movement infinite */
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(50px) translateY(100px);
  }

  50% {
    transform: translateX(100px) translateY(0px);
  }

  75% {
    transform: translateX(50px) translateY(-100px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

#searchSection {
  margin-top: 2em;
  max-width: 790px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#branchSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: #ffa21b;
  box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  font-size: 20px;
  color: #ffffff;
}

#branchSelector > option {
  padding: 10px;
  background: #ffa21b;
  font-size: 20px;
  color: #ffffff;
  font-family: "Poppins";
  border: none;
}

#branchSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: #ffa21b;
  box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  font-size: 20px;
  color: #ffffff;
}

#branchSelector > * {
  padding: 10px;
  background: #ffa21b;
  font-size: 20px;
  color: #ffffff;
  font-family: "Poppins";
}

@media (max-width: 1390px) {
  .absoluteImages {
    display: none;
  }

  .titles, #searchSection {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 680px) {
  .inputs {
    flex-direction: column;
  }
}
#filters{
  display: flex;
  gap: 40px;
}
.filterinput{
  padding: 20px;
  border: none;
  border-radius: 20px;
}
.result{
  margin-bottom: 30px;
}
