<div id="sheet" class="blue-shadow white-style">
    <h1 id="title">
        Mes informations
    </h1>

    <section id="infos">
        
        <div id="surname">
            <div class="info-header">
                <div class="indicator">Nom</div>
                <span class="material-symbols-outlined">edit</span>
            </div>
            <div class="information">tempSurname</div>
        </div>
        
        <div id="login">
            <div class="info-header">
                <div class="indicator">Login</div>
                <span class="material-symbols-outlined">edit</span>
            </div>
            <div class="information">tempLog</div> 
        </div>

        <div id="address">
            <div class="info-header">
                <div class="indicator">Adresse</div>
                <span class="material-symbols-outlined">edit</span>
            </div>
            <div class="information">tempAddress</div>
        </div>
                
        <div id="name">
            <div class="info-header">
                <div class="indicator">Prénom</div>
                <span class="material-symbols-outlined">edit</span>
            </div>
            <div class="information">tempName</div>
        </div>
        
        <div id="mail">
            <div class="info-header">
                <div class="indicator">Email</div>
                <span class="material-symbols-outlined">edit</span>
            </div>
            <div class="information">TempMail</div>
        </div>
        
        <div id="phone">
            <div class="info-header">
                <div class="indicator">Numéro de Téléphone</div>
                <span class="material-symbols-outlined">edit</span>
            </div>
            <div class="information">tempPhone</div>
        </div>
    </section>

</div>
